{% extends "base.html" %}
{% block start %}
<div class="container mt-5">
    <div class="col-6 mx-auto card p-3 shadow-lg">
        <h2 class="text-center">Forgot Password</h2>
        <form method="post">
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <button type="submit" class="btn btn-outline-primary">Reset Password</button>
        </form>
        <p class="mt-3">Remember your password? <a href="/login/">Login</a></p>
    </div>
</div>
{% endblock %}