{% extends "base.html" %} {% block start %}



<div class="container-xxl" style="padding-left: 30px; padding-right: 30px; margin-bottom: 100px;">
    <div class="row mt-3">
        <div class="col">
            <a class="button" type="submit" href="/gen/">Generate Posts</a>
            <a class="button" type="submit" href="/addPost/">Add Post</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            {% for post in posts %}
            {% if forloop.first %}

            <div class="thumb-box">
                <a href="">
                    <img src="{{post.image.url}}" alt="">
                    <span class="overlay-box">
                        <div>
                            <span class="meta">{{post.category}}</span>
                        </div>
                        <span class="main-title">{{post.title}}</span>
                        <div class="spanElement">
                            <span class="text-no-underline row-for-ADC"><i class="fa-solid fa-user"></i>
                                akbarh</i></span>
                            <span class="text-no-underline row-for-ADC">July 7, 2021</span>
                            <span class="text-no-underline row-for-ADC">No Comments</span>
                        </div>
                        <span class="description">Last updated at {{post.updated_at}}</span>
                        <span class="description">{{post.content}}</span>
                    </span>
                </a>
            </div>

            {% endif %}
            {% endfor %}

            <div class="container mt-5">
                <div class="row">
                    <div class="col">
                        <h3 class="text-start">Editor's Pick</h3>
                    </div>
                    <div class="col">
                        <div class="text-end"><a class="custom_a" href="#">View All <i
                                    class="fa-solid fa-arrow-right"></i></a></div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <img src="media/images/apple_logo.jpg" class="img-fluid">
            <div class="column">
                <h5 class="right_side_column_headings" style="color: #946cf2;">APPS</h5>
                <a class="right_side_column_content" href="#">Broke a Glass? Someday You Might 3-D-Print a New
                    One</a>
                <h5 class="right_side_column_headings" style="color: #946cf2;">GAMES</h5>
                <a class="right_side_column_content" href="#">This Is a Giant Shipworm. You May Wish It Had Stayed
                    In
                    Its Tube.</a>
                <h5 class="right_side_column_headings" style="color: #946cf2;">EDITORS PICK</h5>
                <a class="right_side_column_content" href="#">For Families of Teens at Microsoft Surface</a>
                <h5 class="right_side_column_headings" style="color: #946cf2;">EDITORS PICK</h5>
                <a class="right_side_column_content" href="#">Why Netflix shares are down 10%</a>
            </div>
        </div>
    </div>
</div>

<section>


</section>
{% endblock %}

<!--
     <div class="card text-bg-dark hero" style="border: none; border-radius: 0px;">
                <img src="{{post.image.url}}" class="img-fluid image-with-shadow" alt="{{post.title}}">
                <div class="card-img-overlay d-flex flex-column justify-content-end second_div">
                    <div class="motto">This is my NEW
                        ldsaddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddong, long text</div>
                    <div style="margin-bottom: 40px;">
                        <a class="card_content category-link" href="#">{{post.category}}</a>
                    </div>
                    <div style="margin-bottom: 15px;">
                        <a class="card_title" style="text-decoration: none;" href="#">{{post.title}}</a>
                    </div>
                    <div class="column" style="margin-bottom: 26%;">
                        <span class="text-no-underline row-for-ADC"><i class="fa-solid fa-user"></i>
                            akbarh</i></span>
                        <span class="text-no-underline row-for-ADC">July 7, 2021</span>
                        <span class="text-no-underline row-for-ADC">No Comments</span>
                    </div>

                    <p>{{post.content}}</p>
                    <p><small>Last updated {{post.updated_at}} </small></p>
                </div>
            </div>


 -->